// Global (All)

// Typography Family
$primaryFont: 'proxima-nova', sans-serif !default;

// Color
$primaryColor: #222 !default;

// Neutral Color
$white: #fff !default;
$black: #333 !default;
$grayLight: #e7e8e8 !default;
$gray: #f6f6f6 !default;
$grayDark: #8a8a8a !default;

// Transition
$tran: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
